
{% extends 'ImageApp/index.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/team_create.css' %}">
{% endblock %}

{% block content %}
        <div class="form-wrapper">
          {% if validlink %}
            <form class="team-form" method="POST" action="" enctype="multipart/form-data">
                <h2>Change password</h2>
                {% csrf_token %}
                {{ form.as_p}}
                <button class="submit" type="submit">Change password</button>
            </form>
            {% else %}
            <p>
              The password reset link was invalid, possibly because it has already been used.
              Please request a new password reset.
            </p>
            {% endif %}
        </div>
{% endblock %}