{% extends 'ImageApp/index.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/team_create.css' %}">
{% endblock %}

{% block content %}
        <div class="form-wrapper">
            <form class="team-form" method="POST" action="" enctype="multipart/form-data">
                <h2>Forgot password</h2>
                <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
                {% csrf_token %}
                {{ form.as_p}}
                <button class="submit" type="submit"> Submit</button>
            </form>
        </div>
{% endblock %}