{% extends 'ImageApp/index.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/task_update.css' %}">
{% endblock %}

{% block content %}
        <div class="form-wrapper">
            
            <form class="team-form" method="POST" action="" enctype="multipart/form-data">
                <h2>Create Task</h2>
                {% csrf_token %}
                {{form.as_p}}
                <button class="submit" type="submit"> Submit</button>
            </form>
        </div>
{% endblock %}